<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039578610780-823aek0sccrtbi32i7hr1vfdp84c8oqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039578610780-823aek0sccrtbi32i7hr1vfdp84c8oqs</string>
	<key>API_KEY</key>
	<string>AIzaSyAUlfEzrzyfjwJTfp8XxEMf3jG6IlLyvvM</string>
	<key>GCM_SENDER_ID</key>
	<string>1039578610780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp</string>
	<key>PROJECT_ID</key>
	<string>movies-54f0f</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-54f0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039578610780:ios:104509f6e6f7c071593a99</string>
</dict>
</plist>